<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  </head>
  <body>
      <table class="table table-bordered table-hover" border='1'>
        <tr>
          <th class="table-primary text-center">글번호</td>
            <td><%= rows[0]._idx %></td></tr>           

            <tr><th class="table-primary text-center">제목</td>
            <td><%= rows[0].title %></td></tr>

            <tr><th class="table-primary text-center">이름</td>
            <td><%= rows[0].name %></td></tr>

            <tr><th class="table-primary text-center">조회수</td>
            <td><%= rows[0].hit_count %></td></tr>

            <tr><th class="table-primary text-center">추천수</td>
            <td><%= rows[0].best_count %></td></tr>

            <tr><th class="table-primary text-center">카테고리</td>
            <td><%= rows[0].category %></td></tr>

            <tr><th class="table-primary text-center" style="height: 100px;">내용</td>
            <td><%= rows[0].contents %></td></tr>

            <tr><th class="table-primary text-center">수정된시간</td>
            <td><%= rows[0].update_at %></td></tr>

            <tr><th class="table-primary text-center">글쓴시간</td>
            <td><%= rows[0].create_at %></td></tr>
            </tr>
        </table>
<tr>
        <td colspan="2">
          <!--localhost:3000/read 주소로 글 번호 데이터(_idx)를 보내는 예시
           hidden 속성의 input 값을 전송하게 된다-->
          <div>
            <form method="post" action="/read">
              <input type="hidden" id="idx" name="idx" value="<%= rows[0]._idx %>">
              <input type="submit" class="btn btn-primary" value="추천하기">
              <input type="button" value="목록으로" class="btn btn-outline-primary" style="" onclick="window.location.href='http://localhost:3000/'">
              
            <!--사이트 주소에 글 번호 데이터(_idx)를 포함해서 전달하는 get 방식 예시-->
              <input type="button"  style="float:right;" class="btn btn-outline-success" value="수정하기" onclick="window.location.href='http://localhost:3000/update/<%= rows[0]._idx %>'">
              <input type="button"  style="float:right;" id="del" class="btn btn-outline-danger" value="삭제하기" onclick="window.location.href='http://localhost:3000/delete/<%= rows[0]._idx %>'">

          </div></form> 
        </td>  
</tr>
        </td>
<script>
$("#del").click(function(){
  alert('삭제되었습니다');
  console.log('삭제되었습니다')
});</script>
<script src="../public/javascripts/del.js"></script>
  </body>
</html>
